@using E_Commerce.Models.ViewModels.ProductVM
@model ProductItemVM

@{
    ViewData["Title"] = "Details";
}


<!-- Breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a asp-controller="Product"
           asp-action="Index"
           class="stext-109 cl8 hov-cl1 trans-04">
            Shop &nbsp;<i class="fa fa-shopping-bag" aria-hidden="true"></i>
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <a asp-controller="Product"
           asp-action="Index"
           asp-route-categoryId="@Model.CategoryId"
           class="stext-109 cl8 hov-cl1 trans-04">
            @Model.CategoryName
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            @Model.ProductName
        </span>
    </div>
</div>

<!-- Product Detail -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
        <div class="row">

            <!-- IMG -->
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                        <div class="slick3 gallery-lb">
                            <div class="item-slick3" data-thumb="@Model.Image">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="@Model.Image" alt="IMG-PRODUCT">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                       href="@Model.Image">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Detail -->
            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        @Model.ProductName
                    </h4>

                    <span class="mtext-106 cl2">
                        $ @Model.UnitPrice
                    </span>

                    <p class="stext-102 cl3 p-t-23">
                        @Model.Description
                    </p>

                    <!-- Add To CART -->
                    <div class="p-t-33">

                        <div class="flex-w flex-r-m p-b-10">
                            <div class="size-204 flex-w flex-m respon6-next">

                                <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                    <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                        <i class="fs-16 zmdi zmdi-minus"></i>
                                    </div>

                                    <input id="quantityInput"
                                           class="mtext-104 cl3 txt-center num-product"
                                           type="number" value="1">

                                    <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                        <i class="fs-16 zmdi zmdi-plus"></i>
                                    </div>
                                </div>

                                @if (User.Identity != null && User.Identity.IsAuthenticated)
                                {
                                    <button type="button" id="addToCartBtn"
                                            class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail"
                                            data-product-id="@Model.ProductId">
                                        Add to cart &nbsp;<i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                }
                                else
                                {
                                    <a asp-controller="Account"
                                       asp-action="Login" type="button"
                                       class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                        Add to cart &nbsp;<i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </a>
                                }

                            </div>
                        </div>

                        @Html.AntiForgeryToken()

                    </div>

                    <!-- Icon -->
                    <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                        <a asp-controller="Home"
                           asp-action="Index"
                           class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a asp-controller="Home"
                           asp-action="Index"
                           class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>

                        <a asp-controller="Home"
                           asp-action="Index"
                           class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">
        <span class="stext-107 cl6 p-lr-25">
            Product: @Model.ProductName
        </span>

        <span class="stext-107 cl6 p-lr-25">
            Category: @Model.CategoryName
        </span>
    </div>
</section>


<!-- AddToCart JS -->
<script>
    document.getElementById('addToCartBtn').addEventListener('click', function () {

        const productId = this.dataset.productId;
        const quantity = document.getElementById('quantityInput').value;

        fetch('/Cart/AddToCart', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: `productId=${productId}&quantity=${quantity}`
        })
        .then(res => res.json())
        .then(data => {
            // Reload Cart after Click
            if (data.success) {
                reloadCart();
            }
        });
    });

    function reloadCart() {
        fetch('/Cart/GetCartPartial')
            .then(res => res.text())
            .then(html => {
                document.querySelector('.header-cart-content').outerHTML = html;
            });
    }
</script>