@using E_Commerce.Models.ViewModels.ProductVM
@model ProductListVM

@{
    ViewData["Title"] = "Product";
}


<!-- Products -->
<div class="bg0 m-t-23 p-b-140">
    <div class="container">
        <div class="flex-w flex-sb-m p-b-52">

            <!-- Categories -->
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <a asp-action="Index"
                   class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 @(string.IsNullOrEmpty(@Model.CategoryId.ToString()) ? "how-active1" : "")">
                    All Products
                </a>

                @foreach (var item in Model.Categories)
                {
                    <a asp-route-categoryId="@item.CategoryId"
                       class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 @(@Model.CategoryId.ToString() == item.CategoryId.ToString() ? "how-active1" : "")">
                        @item.CategoryName
                    </a>
                }
            </div>

            <div class="flex-w flex-c-m m-tb-10">
                <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                    <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                    <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Filter
                </div>

                <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                    <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                    <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Search
                </div>
            </div>

            <!-- Search -->
            <form class="dis-none panel-search w-full p-t-10 p-b-15">
                <div class="bor8 dis-flex p-l-15">
                    <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                        <i class="zmdi zmdi-search"></i>
                    </button>

                    <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search" placeholder="Search">
                </div>
            </form>

            <!-- Filter -->
            <div class="dis-none panel-filter w-full p-t-10">
                <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">

                    <div class="filter-col1 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Sort by Price
                        </div>

                        <ul>
                            <li class="p-b-6">
                                <a asp-action="Index"
                                   class="filter-link stext-106 trans-04 @(string.IsNullOrEmpty(@Model.SortPrice) ? "filter-link-active" : "")">
                                    All
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a asp-action="Index"
                                   asp-route-search="@Model.Search"
                                   asp-route-categoryId="@Model.CategoryId"
                                   asp-route-sortPrice="sortMinToMaxPrice"
                                   class="filter-link stext-106 trans-04 @(@Model.SortPrice == "sortMinToMaxPrice" ? "filter-link-active" : "")">
                                    Low to High
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a asp-action="Index"
                                   asp-route-search="@Model.Search"
                                   asp-route-categoryId="@Model.CategoryId"
                                   asp-route-sortPrice="sortMaxToMinPrice"
                                   class="filter-link stext-106 trans-04 @(@Model.SortPrice == "sortMaxToMinPrice" ? "filter-link-active" : "")">
                                    High to Low
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="filter-col2 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Sort by Price Range
                        </div>

                        <ul>
                            <li class="p-b-6">
                                <a asp-action="Index"
                                   class="filter-link stext-106 trans-04 @(string.IsNullOrEmpty(@Model.MinPrice.ToString()) && string.IsNullOrEmpty(@Model.MaxPrice.ToString()) ? "filter-link-active" : "")">
                                    All
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a asp-action="Index"
                                   asp-route-search="@Model.Search"
                                   asp-route-categoryId="@Model.CategoryId"
                                   asp-route-minPrice="0"
                                   asp-route-maxPrice="99"
                                   class="filter-link stext-106 trans-04 @((@Model.MinPrice.ToString() == "0" && @Model.MaxPrice.ToString() == "99") ? "filter-link-active" : "")">
                                    $0.00 - $100.00
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a asp-action="Index"
                                   asp-route-search="@Model.Search"
                                   asp-route-categoryId="@Model.CategoryId"
                                   asp-route-minPrice="100"
                                   class="filter-link stext-106 trans-04 @((@Model.MinPrice.ToString() == "100" && string.IsNullOrEmpty(@Model.MaxPrice.ToString())) ? "filter-link-active" : "")">
                                    Over $100.00
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Products -->
        <div class="row isotope-grid">
            @foreach (var item in Model.Products)
            {
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                    <!-- Block2 -->
                    <a asp-action="Detail"
                       asp-route-productId="@item.ProductId"
                       class="block2">
                        <div class="block2-pic hov-img0">
                            <img src="@item.Image" alt="IMG-PRODUCT">

                            <div class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                View
                            </div>
                        </div>

                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l ">
                                <div class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                    @item.ProductName
                                </div>

                                <span class="stext-105 cl3">
                                    $ @item.UnitPrice
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>